<!doctype html>
<html lang="en">
<meta charset="utf-8">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Direccion tecnica</title> 
<head>  
<link href="/static/css/estilo.css" rel="stylesheet"> 
</head>  
  
<header class="headers">  
 <div class="logo">
   <img src="/static/images/logo-motoben.jpg" alt="logo de la Adm.">
</div> 
<nav class="menu" id="menu">
  <ul>
    <li><a href="{{url_for('login')}}">SALIR</a></li>
  </ul> 
 </nav>
</header>
<fieldset class="publicidad_u">
<img src="/static/images/video_publicidad.gif" alt="publicidad de la Adm." width="400" height="75">
</fieldset>
{% block content %}
<body>
</body>
{% endblock %}
&copy; Copyright 2024 by <a href="http://www.cessrl.blogspot.com">La Administradora</a>.
</fieldset>
  </html>